@font-face {
    font-family: "PP Neue Montreal";
    src: url("pp-neue-montreal-cufonfonts-webfont/ppneuemontreal-medium.woff") format("woff2"),
         url("../fonts/PPNeueMontreal-Regular.woff") format("woff");
}


*{
    padding-left: 20px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "PP Neue Montreal", sans-serif;
    -webkit-font-smoothing: antialiased;
}


body{
    background-color: #e1dfdd;
    padding: 0px;
    font-family: "PP Neue Montreal", sans-serif;
    -webkit-font-smoothing: antialiased;
}



header{
    width: 100%;
    height: 30px;
    display: flex;
    font-size: 20px;
    padding-top: 10px;
    font-weight: 600;
    align-items: center;
    z-index: 9999;
}

.navbw{
    display: flex;
    grid-column-gap: 150px;
    padding-top: 70px;
    padding-left: 350px;
    animation:  SlideInDown 0.7s ease forwards;
    animation-delay: 1s;
    opacity: 0;
}
#nav{
    position:fixed;
    top: 30px;
    animation:  SlideInDown 0.7s ease forwards;
    animation-delay: 1s;
    opacity: 0;
    z-index: 9999;
}
a{
    text-decoration: none;
    color: black;
    margin: 0px;
    padding: 0px;
}
.menu{
    display: flex;
    flex-direction: row;
    position:fixed;
    gap: 5px;
    right: 50px;
    padding-top: 15px;
    top: 15px;
    animation:  SlideInDown 0.7s ease forwards;
    animation-delay: 1s;
    opacity: 0;
    z-index: 9999;
}

main{
    padding: 0px;
}
.text{
    display: flex;
    overflow: hidden;
    padding: 0%;
    padding-left: 40px;
    width: 100%;
    font-size: 125;
    font-weight: 500;
    position: relative;

}

span{
    position: relative;
    line-height: 0.7;
    display: inline-block;
    opacity: 0;
    padding: 0%;
}

span.appear {
    animation-name: appear;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}


span:nth-of-type(2){
    animation-delay: 0.2s;
}
span:nth-of-type(3){
    animation-delay: 0.3s;
}
span:nth-of-type(4){
    animation-delay: 0.4s;
}
span:nth-of-type(5){
    animation-delay: 0.5s;
}
span:nth-of-type(6){
    animation-delay: 0.6s;
}
span:nth-of-type(7){
    animation-delay: 0.7s;
}
span:nth-of-type(8){
    animation-delay: 0.8s;
}
span:nth-of-type(9){
    animation-delay: 0.9s;
}
span:nth-of-type(10){
    animation-delay: 0.2s;
}
span:nth-of-type(11){
    animation-delay: 0.3s;
}
span:nth-of-type(12){
    animation-delay: 0.4s;
}
span:nth-of-type(13){
    animation-delay: 0.5s;
}
span:nth-of-type(14){
    animation-delay: 0.6s;
}
span:nth-of-type(15){
    animation-delay: 0.7s;
}
span:nth-of-type(16){
    animation-delay: 0.8s;
}

@keyframes appear{
    from{
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
       transform: translateY(0);
    } 
}


@keyframes SlideInUp{
    from{
        opacity: 0;
        transform: translateX(1500px);
    }
    to{
        opacity: 1;
        transform: translate(0);
    }
}
.imganimation{
    width: 650px;
    padding-left: 0px;
    padding-top: 20px;
    height: 400px;
    overflow: hidden;
    animation: slideIn 2s;
    animation-timing-function: cubic-bezier(0.62,0.05,0.01,0.99);
    z-index:0;
    
}

@keyframes slideIn{
    from{
        opacity: 0;
        transform: translateY(1000px);
    }
    to{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes SlideInDown{
    from{
        opacity: 0;
        transform: translateY(-80px);
    }
    to{
        opacity: 1;
        transform: translate(0);
    }
}

.div3{
    display: flex;
    align-items: flex-end;
    padding-left: 20px ;
}
#arrow{
  font-size: 120px;

}
.sup{
    font-size: 22px;
    padding-left: 80px;
    padding-right:260px;
    font-weight: 500;
}

.as{
    font-size: 140px;
    font-weight: 500;
    text-align: right;
    line-height: 0.9;
}
.asss{
    display: inline-block;
}
#ass{
    display: flex;
    flex-direction: column;
}

.div4{
    display: flex;
    overflow: hidden;
    width: 100%;
    padding: 0%;
    padding-top: 300px;
    padding-left: 25px;
    padding-bottom: 300px;
    
}
.abou{ 
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* transform: translateY(50%); */
}

.containermain{
    display: grid;
    gap: 50px;
    overflow: visible; 
    padding-top: 400px;
    padding-left: 0%;
    padding-bottom: 300px;
}

.masterdiv{
    display: flex;
    flex-direction: row;
    gap: 200px;
    padding-left: 0%;
}
#nosize{
    font-size: 22px;
    color: black;
    font-weight: 500;
}

#textsize{
      font-size: 40px;
      font-weight: 600;
}

.div41, .div51, .div61, .div71, .div81, .maindiv1 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  padding-left: 0px;
}

.maindiv3{
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding-left: 297px;
    padding-top: 100px;
}
.diva,
.divb,
.divc,
.diva1,
.divb1,
.divc1,
.divd1,
.dive1,
.divf1,
.divg1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}
.divg1{
    padding-top: 100px;
    padding-left: 39px;
    line-height: 5;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 30px; 
}

.drop-text1 {
  transform: translateY(100px);
  opacity: 0;
  transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 1.5s;
}

.drop-text1.in-view {
  transform: translateY(0);
  opacity: 1;
  
}
/* .drop-text1.appear {
    animation-name: appear;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
@keyframes appear{
    from{
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
       transform: translateY(0);
    } 
} */

#p1{
    font-size: 25px;
    padding-right: 300px;
    padding-left: 0%;
    overflow: hidden;
}
.pcd1{
    animation: SlideInUp 1.3s forwards;
    animation-timing-function:cubic-bezier(0.77, 0, 0.175, 1);
}
.pcd2{
    animation: SlideInUp 1.5s forwards;
    animation-timing-function:cubic-bezier(0.77, 0, 0.175, 1);
}
.pcd3{
    animation: SlideInUp 1.7s forwards;
    animation-timing-function:cubic-bezier(0.77, 0, 0.175, 1);
}
.pcd4{
    animation: SlideInUp 1.9s forwards;
    animation-timing-function:cubic-bezier(0.77, 0, 0.175, 1);
}
.pcd5{
    animation: SlideInUp 2.1s forwards;
    animation-timing-function:cubic-bezier(0.77, 0, 0.175, 1);
}
.pcd6{
    animation: SlideInUp 2.3s forwards;
    animation-timing-function:cubic-bezier(0.77, 0, 0.175, 1);
}
#about{
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 600;
}
.aboutimg{
    width: 630px;
    height: 300px;
}
.gymimage{
    padding: 0%;
    width: 600px;
}
.emergency{
    display: flex;
    padding-left: 0px;
    padding-top: 80px;
    gap: 170px;
}
.uiux{
    font-size: 25px;
    width: 250px; 
    
}
.moredetails{
    font-size: 25px;
    width: 600px;
}
.meandservices{
    font-size: 25px;
    padding-left: 320px;
    text-decoration: underline;
}

.div5{
    width: 1200px;
    display: flex;
    overflow: hidden;
    padding-left: 0px;
    font-size: 25px;
    justify-content: space-between;

}

.portimage{
    height: 900px;
    width: 875px;
    padding-left:120px;
    padding-top: 30px;
    padding-right: 16px;
}
#portdetails{
    font-size: 20px;
    padding-left: 0px;
    padding-top: 150px;
}
.div6{
    width: 100%;
    display: flex;
    padding-left: 25px;
    padding-bottom: 300px;
}

.div8{
    width: 100%;
    display: flex;
}

.projectdiv{
    display: flex;
    overflow: hidden;
    width: 100%;
    font-size: 25px;
    position: relative;
    left: 20;
    padding-top: 350px;
}
.projecttext{
    display: flex;
    overflow: hidden;
    padding-left: 250px;
    width: 100%;
    font-size: 110px;
    font-weight: bold;
    position: relative;
    left: 50px;
    transform: translateY(-50%);
}

#p32{
    font-size: 100px;
    padding-left: 200px;
    font-weight: bold;
    padding-top: 0px;
}
.gymimage{
    height: 300px;
}
#p3{
    font-size: 25px;
    padding: 0%;
}
#p322{
    font-size: 25px;
    width: 700px;
    padding-left: 200px;
    padding-top: 50px;
}
#p323{
    font-size: 25px;
    width: 800px;
    padding-left: 500px;
    text-decoration: underline;
}
#p33{
    font-size: 25px;
     padding-top: 0px;
}
.div9 {
  display: flex;
  overflow: hidden;
  justify-content:left;
  align-items: flex-end;
  font-size: 22px;
  gap: 300px;
  font-weight: 500;
  padding-left: 40px;
  
}

/* Each text wrapper */
.drop-wrap {
  overflow: hidden;
  padding-left: 0%;
  display: flex;
  align-items: center;
  margin: 0;
}

.div10{
    padding-bottom: 100px;
}
.textemail{
    position: relative;
    display: flex;
    overflow: hidden;
    text-transform: capitalize;
    padding: 0%;
    padding-left:0;
    width: fit-content;
    font-size: 125px;
    font-weight: 500;
    
}


.spanemail{
      position: relative;
    line-height: 1.1;
    display: inline-block;
    margin: 0;
    padding: 0%;
    opacity: 0;

} 


.spanemail.appear {
  animation-name: appear;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.spanemail:nth-of-type(10){
    animation-delay: 1s;
}
.spanemail:nth-of-type(11){
    animation-delay: 1.1s;
}
.spanemail:nth-of-type(12){
    animation-delay: 1.2s;
}
.spanemail:nth-of-type(13){
    animation-delay: 1.3s;
}

footer{
    height: 30px;
    padding-top: 170px;
    padding-bottom: 80px;
    padding-right: 50px;
    margin: 0px;
    width: 100%;
    align-items: end;
    font-size: 22px;
    font-weight: 600;
    padding-left: 5px;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

footer.in-view {
  opacity: 1;
}


/* //about// */
.about1{
    padding-left: 0px;
    margin-left: -100px;
}
#pcd{
    font-size: 100px;
    padding-top: 0px;
    font-weight: bold;
    margin-top: -60px;
    padding-left: 0px;
}

.pp{
    margin-top: -60px;
}
.aboutimg{
    padding: 0%;
    
}
.anotherimage{
   width: 100%;
   height: 500px;
   padding-left: 450px;
   padding-top: 50px;
}
#pc{
    font-size: 100px;
    font-weight: bold;
    padding-left: 0px;
    
}
.cp{
    margin-top: -80px;
}
#moredetailsabout{
    width: 400px;
}

#p3223{
    font-size: 100px;
    padding-left: 150px;
    font-weight: bold;
    padding-top: 0px;

}
.accordion {
  
  /* border-bottom: 1px solid #000; */
  /* padding-left: 290px; */
  width: 1140px;
  border-top: 1px solid #000;
  padding-left: 0%;
}

.accordion-item {

  border-bottom: 1px solid #000000;
  cursor: pointer;
  padding-left: 0%;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.accordion-header .number{
  width: 50px;
  font-weight: 500;
}
.accordion-header .title {
  flex: 1;
  font-size: 25px;
  font-weight: 500;
}

.accordion-header .toggle {
  width: 30px;
  text-align: center;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.accordion-body {
  display: none;
  padding: 10px 0 100px 200px;
  font-size: 22px;
}

.accordion-item.active .accordion-body {
  display: block;
}

.accordion-item.active .toggle {
  content: "−";
}

/* slider */
.title {
  text-align: left;
  font-weight: 500;
  padding-left: 170px;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 50px;
  font-size: 113px;
  font-weight: 500;
  margin-bottom: 40px;
  padding-left: 0%;
  padding-top: 100px;
}

.tab {
  cursor: pointer;
  color: rgba(0,0,0,0.2);
  transition: color 0.3s;
}

.tab.active {
  color: #000;
}

.slider-container {
  overflow: hidden;
  padding: 0%;
}

.slider {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease;
  padding: 0%;
  gap: 100px;
}

.slide {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 70px;
  flex-direction: row;
  padding-left: 0%;

}

.intrestimg{
  width: 800px;
  height: 800px;
  padding: 0%;
}

.slide h3 {
  font-size: 22px;
  margin-bottom: 12px;
  font-weight: 500;
  padding-left: 0%;
  font-weight: bold;
  padding-top: 300px;
}

.slide p {
  font-size: 22px;
  width: 500px;
  line-height: 1.5;
  padding-left: 0%;
  font-weight: 500;
}

/* contact */

.forcontactmain{
  display: flex; 
  flex-direction: column; 
  align-items: center;
   text-align: center; 
   padding-top: 40px;
}

.forcontactinsta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sm{
    font-size: 25px;
    text-align: center;
    padding-top: 230px;
    animation: fadeInTop 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes fadeInTop{
    from{opacity: 0;
        transform: translateY(-200px);
    } to{
        opacity: 1;
        transform: translateX(0);
    }
}
.emaildiv{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 0px;
    margin-top: -40px;
    animation: fadeInbottom 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes fadeInbottom{
    from{opacity: 0;
        transform: translateY(200px);
    } to{
        opacity: 1;
        transform: translateX(0);
    }
}
.email{
    font-size: 150px;
    text-decoration: underline;
}

.connectme{
    font-size: 150px;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 140px;
}

.formargin{
    margin-top: -50px;
}

/* Initial hidden state */
.scroll-animate {
  opacity: 0;
  transform: translateX(-900px);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 2s;
}

/* Triggered when in view */
.scroll-animate.in-view {
  opacity: 1;
  transform: translateX(0);
}
.sanimate {
    transform: translateY(-200px);
  opacity: 0;
  transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 1s;
}

.sanimate.inview {
  transform: translateY(0);
  opacity: 1;
}
.drop-text {
  transform: translateY(200px);
  opacity: 0;
  overflow: hidden;
  transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 1s;
  padding: 0%;
  margin: 0%;
}

.drop-text.in-view {
  transform: translateY(0);
  opacity: 1;
}
/* mobile  */

/* underline test */

.textemail::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 9px;
  width: 0;
  background-color: #000; 
  transition: all 1s cubic-bezier(0.5, 0.1, 0, 1);
  transition-delay: 1.2s;
}
.textemail.underline-in::after {
  width: 100%;
}

.contact-page .textemail::after {
  background-color: white;
}
.textemail.in-view::after {
  width: 100%;
}

.textemail::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100px;
  height: 9px;
  width: 80px; 
  background-color: #e1dfdd;
  opacity: 0;
  transition: left 1s cubic-bezier(1, 0.2, 0.2, 1), opacity 1s cubic-bezier(1, 0.2, 0.2, 1);
  z-index: 2;
  opacity: 1;
}

.textemail:hover::before {
  left: 100%;
}

.contact-page .textemail::before {
  background-color: rgb(0, 0, 0);
}

.textemail {
  cursor: none;
}

/* Custom cursor container */

.custom-cursor {
  position: fixed;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  opacity: 0;
    transition:
    opacity 0.3s ease,
    transform 1s cubic-bezier(0.22, 1, 0.36, 1); 

}


.waah {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black; 
}

.contact-page .waah::after {
  background-color: white;
}  

/* slider css */


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    color: #fff;
    z-index: 9999;
    transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);
}

.branding {
      position: absolute;
      top: 70px;
      left: 70px;
      font-size: 40px;
      font-weight: bold;
}

.percentage {
      display: flex;
      padding: 0%;
      overflow: hidden;
      position: absolute;
      right: 70px;
      font-weight: bold;
      font-size: 80px;
      transform: translateY(0);
      transition: top 1s ease-in-out;
}

     .percent-text {
      animation: none;
      transition: opacity 1s ease;
}

    .percent-text.slide-up {
      animation: slideUp 1s cubic-bezier(0.77, 0, 0.175, 1);

}

@keyframes slideUp {
      from {
        transform: translateY(100px);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
@media (max-width: 768px) {
    
   .laptopnavbar{
    display: none;
   }

.mblnavbar{
  display: initial;
}

  .div9{
    display: flex;
    overflow: hidden;
    flex-direction: row;
    gap: 20px;
  }
 .textemail{
  font-size: 40px;
  text-align: left;
 }

 #sm{
text-align: left;
padding-left: 0%;
}
.forcontactmain{
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}
.forcontactinsta{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
a{
  padding-left: 5px;
}

footer{
  display: flex;
  flex-direction: row;
  gap: 30px;

}
#page-exit-transition{
  display: none;
  z-index: 9999;
}


   /* for preloader */
  .branding {
    font-size: 20px;
    top: 90px;
    left: 20px;
  }

  .percentage {
    font-size: 30px;
  } */

 h1 {
    font-size: 30px;
  }

  p {
    font-size: 30px;
  }
} 

    /* for delay page load */

#content {
      display: none;
      opacity: 0;
      transition: opacity 0.5s ease;
    }
#content.show {
      display: block;
      opacity: 1;
    }

#page-exit-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  background-color:#000;
  transform: translateY(100%);
  transition: transform 0.8s ease-in-out;
  pointer-events: none;
}

#page-exit-transition.active {
  transform: translateY(0);
}
#page-entry-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 9999;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* Fade it out */
#page-entry-transition.fade-out {
  opacity: 0;
}



/* pop page css */
#popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
#popup-content{
    display: grid;
    flex-wrap: wrap;
}
#popup-overlay.active {
  display: flex;
}

.divpop{
    display: flex;
    font-size: 25px;
    gap: 220px;
    padding-top: 40px;
    font-weight: 500;
    position: fixed;
    z-index: 9999;

}

.mainpopdiv{
 padding-left: 0%;
 display: flex;
 flex-direction: row;
 gap: 165px;
}

.mainpopdiv2{
    padding: 0%;
    position: fixed;
}

.mainppopddiv3{
    padding: 0%;
}

.projectinfodiv{
    padding-left: 20px;
    font-size: 25px;
    padding-top: 10px;
    font-weight: 500;
}

.underdiv{
    border-bottom: 1px solid white;
    padding: 20px;
    padding-left: 0%;
    width: 530px;
}

.image-scroll-wrapper{
  overflow: hidden;
}

.maindiv333{
    padding-top: 125px;
    padding-left: 670px;
    height: 630px;
    width: auto;
    gap: 30px;
    display: flex;
    overflow: hidden;
    animation-name: appear;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}


#close-popup {
  position: absolute;
  top: 40px; 
  right: 60px;
  padding: 0%;
  background: transparent;
  color: white; 
  border: none;
  font-size: 25px;
  cursor: pointer;
  font-weight: 500;
  position: fixed;
  z-index: 9999;
}


.waah {
  position: relative;
  text-decoration: none;
  color: #000;
}

.waah::after {
  content: "";
  position: absolute;
  bottom: -5.5;
  left: 0;
  height: 0.5px;
  width: 0%;
  background-color: black;
}


.waah:hover::after {
  animation: underline-in 0.8s forwards;
}


.waah:not(:hover)::after {
  animation: underline-out 0.8s forwards;
}

@keyframes underline-in {
  from {
    width: 0%;
    left: 0;
  }
  to {
    width: 100%;
    left: 0;
  }
}

@keyframes underline-out {
  from {
    width: 100%;
    left: 0;
  }
  to {
    width: 0%;
    left: 100%;
  }
}
.projectpage .waah::after {
  background-color: white;
}



.visitclass {
  position: relative;
  text-decoration: none;
  color: #ffffff;
}

.visitclass::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0%;
  background-color: white
}

.visitclass:hover::after {
  animation: underline-in 0.8s forwards;
}

.visitclass:not(:hover)::after {
  animation: underline-out 0.8s forwards;
}


@keyframes underline-in {
  from {
    width: 0%;
    left: 0;
  }
  to {
    width: 100%;
    left: 0;
  }
}

@keyframes underline-out {
  from {
    width: 100%;
    left: 0;
  }
  to {
    width: 0%;
    left: 100%;
  }
}

.left {
  position: sticky;
  top: 0px; /* how far from the top it sticks */
  align-self: flex-start;
  padding: 0%;
}

.portimage {
  display: block;
 
}





